
{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto" >
  <div class="py-5 border-t border-gray-200">
  <a href="{% url 'core:category_list' %}" class="hover:text-blue-500">Go back to category</a>
  </div>
<hr>
<h4 class="text-2xl text-gray-800">Are you sure you want to delete {{object.name }}</h4>
  <form method="post" class="mt-5">
    {% csrf_token %}
    {{form |crispy }}
    <button type="submit" class="lgw-1/2 w-full text-white bg-blue-500 hover:bg-red-600 px-3 py-2 rounded-md" >submit</button>
  </form>

  </div>
{% endblock content %}